.carousel-container {
    width: 100%;
    max-width: 800px; /* Limite de largura do carrossel */
    margin: 0 auto; /* Centraliza o carrossel */
    padding: 0; 
}

.text-container {
    margin-bottom: 5px; 
}

.stars {
    font-size: 1.5rem;
    color: silver;
    margin-bottom: 10px; 
}

.carousel-image-avalia {
    width: 50%; 
    height: auto; 
    object-fit: contain; 
    margin: 0 auto; /* Centraliza a imagem */
}

.carousel-image {
    width: 80%; /* Imagem ocupa 80% do container */
    height: 400px; /* Altura fixa para as imagens */
    object-fit: contain; /* Ajusta a imagem sem distorção */
    border-radius: 10px; /* Bordas arredondadas nas imagens */
    margin: 0 auto; /* Centraliza a imagem */
}

.slide-content {
    text-align: center; /* Centraliza o texto */
}

.slide-text {
    font-size: 18px; /* Tamanho da fonte responsivo */
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    font-weight: 600; /* Peso da fonte */
    margin: 6px 0; /* Margem acima e abaixo do texto */
}

.swiper-button-prev,
.swiper-button-next {
    color: white; /* Cor dos botões de navegação */
    width: 30px;
    height: 30px;
    background-size: 20px; /* Tamanho dos ícones */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px; /* Tamanho dos ícones de navegação */
}

.swiper-pagination-bullet {
    background: white; /* Cor das bolhas de paginação */
    width: 8px;
    height: 8px;
}

.swiper-pagination-bullet-active {
    background: #f5f5f5; /* Cor da bolha ativa */
}

.button-container {
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 20px; /* Espaço acima do botão */
}

.rounded-button {
    background: radial-gradient(50% 50% at 50% 50%, #E7E1E1 22.5%, #B4B1B1 73%, #929292 100%);
    backdrop-filter: blur(2px);
    border-radius: 100px; /* Bordas arredondadas */
    padding: 20px 40px; /* Aumenta o espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    color: white; /* Texto branco */
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove bordas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Sombra do botão */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.rounded-button:hover {
    background-color: #d1d1d1; /* Cor ao passar o mouse */
    transform: translateY(-4px); /* Elevação ao passar o mouse */
}

.rounded-button:active {
    transform: translateY(0); /* Retorna à posição original ao clicar */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os textos verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 20px;
}

.large-text {
    font-size: 2rem; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove margens */
}

.large-description {
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Margem acima e abaixo do texto */
}
