.carousel-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; 
  padding: 20px 0;
}

.carousel-image {
  width: 100%;
  height: 300px; /* Altura fixa para manter a consistência */
  object-fit: contain; /* Ajusta a imagem sem cortá-la */
  border-radius: 10px;
}

.slide-content {
  text-align: center; /* Centraliza o texto embaixo da imagem */
}

.slide-text {
  color: white;
  font-size: 1.2rem; /* Diminuído o tamanho da fonte */
  font-weight: 600;
  background: rgba(0, 0, 0, 0.5); 
  padding: 8px; /* Ajustado o padding */
  border-radius: 5px;
  margin-top: 10px; /* Espaço acima do texto */
}

.swiper-button-prev,
.swiper-button-next {
  color: white; 
  width: 30px; /* Diminuído o tamanho das flechas */
  height: 30px; /* Diminuído o tamanho das flechas */
  background-size: 20px; /* Ajusta o tamanho do ícone */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px; /* Diminuído o tamanho do ícone */
}

.swiper-pagination-bullet {
  background: white;
  width: 8px; /* Diminuído o tamanho dos pontos de paginação */
  height: 8px; /* Diminuído o tamanho dos pontos de paginação */
}

.swiper-pagination-bullet-active {
  background: #f5f5f5; 
}
