@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow-y: auto; /* Permite scroll vertical */
}

.app {
    background-color: black;
    min-height: 100vh; /* Remove a altura fixa para permitir o scroll */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title,
.sub-header-text,
.large-text,
.large-description {
    text-align: center;
    background: linear-gradient(90deg, #d1d1d1, #f5f5f5, #a49c9c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title {
    font-size: 5vw;
    font-weight: 700;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.sub-header-text {
    font-size: 22px;
    font-weight: 600;
    margin: 6px 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

.icon-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in forwards;
}

.small-icon {
    width: 80px;
}

.large-text {
    font-size: 2rem;
    font-weight: 600;
    color: #EAEAEA;
    margin: 0;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

.large-description {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;
    opacity: 0;
    animation: fadeIn 3.5s ease-in forwards;
}

/* Ajuste de margem para aproximar textos */
.large-text,
.large-description {
    margin-bottom: -5px; /* Usando margens negativas para aproximar os textos */
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .large-text,
    .large-description {
        font-size: 1.2rem; /* Ajuste de tamanho em telas menores */
    }

    .small-icon {
        width: 60px;
    }
}
